node_modules/
dist/
release/
.DS_Store
*.log
.vite/

# Capacitor
ios/App/Pods/
ios/App/build/
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Electron
electron/icon.ico
electron/icon.icns
